name: Data Collector EURUSD 5m

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  collect:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install yfinance pandas

      - run: python data_collector_yfinance.py

      - name: Commit updated data
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add data/eurusd_5m.csv
          git commit -m "update EURUSD 5m data" || echo "No changes"
          git push
